*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(240, 238, 238);
}

body::-webkit-scrollbar {
    display: none;
  }

.titulo{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #CF2B2B;
    box-shadow: 0px  4px  4px rgba(0, 0, 0, 0.25);
}

.titulo > h1 {
    margin-left: 21px;
    font-family: 'Righteous', cursive;
    height: auto;
    font-size: 44px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.2%;
    color: #ffffff;
}

.titulo > h2{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    margin-left: 21px;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff
}

.corpo{
    width: 100%;
    height: auto;
    margin: 115px 0px 85px;
    padding-left: 19px;
    display: flex;
    flex-direction: column;
}

.corpo > h3{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
}

.itens{
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    margin-bottom: 17px;
    overflow: scroll;
}
.itens::-webkit-scrollbar{
    width: 0px;
}

.item{
    font-family: 'Roboto', 'san-serif';
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    margin-right: 16px;
}

.imgitem{
    width: 144px;
    height: 87px;
}

.item > h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    align-self: flex-start;
    margin-left: 20px;
}

.item > p {
    font-size: 300;
    font-size: 15px;
    line-height: 17.58px;
    color: #a6a6a6;
    align-self: flex-start;
    margin-left: 20px;
}
.item > h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: #000000;
    align-self: flex-start;
    margin-left: 20px;
}

.finalizar{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 92px;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaofinalizar {
    height: 63px;
    width: 100%;
    margin: 0px 15px;
    border-radius: 50px;
    text-align: center;
    background-color: #CBCBCB;
    border: none;
}

.botaofinalizar > p {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    line-height: 13px;
    letter-spacing: 1.8%;
    text-align: center;
    color: #ffffff;
}

.selecionado-principal{
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}
.selecionado-bebida{
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}
.selecionado-sobremesa{
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.botaoliberado{
    background-color: #32B72F;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #ffffff;
}
.fundo{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255,0.5);
    z-index: 2;
}
.fundovisivel{
    display: inline;
}

.confirmar{
    display: none;

}

.telaconfirmacao{
    position: fixed;
    top: 25%;
    left: 5%;
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    background-color: #50D074;
    border-radius: 9px;
}
.telaconfirmacao > h3{

}

.prato, .bebida, .sobremesa, .total{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.finalizarenviar, .cancelar{
    width: 80%;
    height: 18%;
    border: none;
}
.finalizarenviar{
    border-radius: 100px;
    background-color: #ffffff;
    border: none;
}

.finalizarenviar, .cancelar > p{
    font-size: 22px;
    font-weight: 700;
    color: #32B72F;
}

.cancelar{
    background-color: #50D074;
}
.cancelar > p{
   color: #ffffff;
}

.menuinvisivel{
    display: none;
}
.corpomargem{
    margin-top: 0px;
    margin-bottom: 0px;
}