*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E5E5E5;
}

body::-webkit-scrollbar {
    display: none;
  }

.titulo{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #CF2B2B;
    box-shadow: 0px  4px  4px rgba(0, 0, 0, 0.25);
}

.titulo > h1 {
    margin-left: 21px;
    font-family: 'Righteous', cursive;
    height: auto;
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2%;
    color: #ffffff;
}

.titulo > h2{
    font-weight: 400;
    margin-left: 21px;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff
}

.corpo{
    width: 100%;
    height: 1000px;
    margin: 115px 0px 107px;
    padding-left: 19px;
    display: flex;
    flex-direction: column;
}

.corpo > h3{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
}

.itens{
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    margin-bottom: 17px;
    overflow: scroll;
}
.itens::-webkit-scrollbar{
    width: 0px;
}

.item{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    margin-right: 16px;
}

.imgitem{
    width: 144px;
    height: 87px;
}

.item > h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
}

.item > p {
    font-size: 300;
    font-size: 15px;
    line-height: 17.58px;
    color: #a6a6a6;
}
.item > h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: #000000;
}

.finalizar{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 92px;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaofinalizar {
    height: 63px;
    width: 100%;
    margin: 0px 15px;
    border-radius: 50px;
    text-align: center;
    background-color: #CBCBCB;
}

.botaofinalizar > p {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    line-height: 13px;
    letter-spacing: 1.8%;
    text-align: center;
    color: #ffffff;
}

.selecionado-principal{
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}
.selecionado-bebida{
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}
.selecionado-sobremesa{
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.botaoliberado{
    background-color: #32B72F;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #ffffff;

}

